# Database
DATABASE_URL="postgresql://user:password@localhost:5432/amanat?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-change-in-production-min-32-chars"

# App
NODE_ENV="development"
