# DATABASE
DATABASE_URL="postgresql://postgres:password@localhost:5432/amanat?schema=public"

# NEXTAUTH
NEXTAUTH_SECRET="your-super-secret-key-change-this-in-production"
NEXTAUTH_URL="http://localhost:3000"

# APP CONFIG
NODE_ENV="development"
